In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides(tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [0]:
max_budget = data[data.budget == data.budget.max()]

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [0]:
max_runtime = data[data.runtime == data.runtime.max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
min_runtime = data[data.runtime == data.runtime.min()]

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '110'
mean_runtime = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '107'
median_runtime = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
answers['6'] = 'Avatar (tt0499549)'
#Добавляем колонку с расчетом прибыли
data['profit'] = data['revenue']-data['budget']

max_profit = data[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = 'The Lone Ranger (tt1210819)'
min_profit = data[data.profit == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1478'
min_profit = data[data.revenue > data.budget]
min_profit_count = len(min_profit)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = 'The Dark Knight (tt0468569)'
profit2008 = data[data.release_year ==2008]
profit2008_max = profit2008[profit2008.profit ==profit2008.profit.max()]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = 'The Lone Ranger (tt1210819)'
profit1214 = data[(data.release_year >=2012)&(data.release_year <=2014)]
profit1214_max = profit1214[profit1214.profit ==profit1214.profit.min()]

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [0]:
answers['11'] = 'Drama'

#Так как фильм может быть отнесен к разным жанрам то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр 
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data_genres = data.explode('genres')
data_genres_count = data_genres['genres'].value_counts().sort_values(ascending = False).head(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'
#Так как фильм может быть отнесен к разным жанрам то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр 
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data_genres = data.explode('genres')
#отбираем с положительным значением прибыли
data_genres_profit = data_genres[data_genres.profit>0]
#считаем значение по жанрам, сортируем по убыванию и берем первое значение
genres_profit_max = data_genres_profit['genres'].value_counts().sort_values(ascending = False).head(1)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson'
#Так как фильм может быть создан несколькими режиссерами то необходимо значение в колонке "director" преобразовать
#к множеству строк далее разбить подобные строки на множество строк, каждая из которых будет
#содержать данные фильма и режиссера
data['director'] = data['director'].apply(lambda x: x.split('|'))
data_director = data.explode('director')
#отбираем с положительным значением прибыли
data_director_profit = data_director[data_director.profit>0]
#суммируем прибыль по режиссерам, сортируем по убыванию и берем первое значение
director_profit_max = data_director_profit.groupby(['director'])['profit'].sum().sort_values(ascending = False).head(1)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'
#Так как фильм может быть отнесен к разным жанрам то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр 
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data.explode('genres')
#Так как фильм может быть создан несколькими режиссерами то необходимо значение в колонке "director" преобразовать
#к множеству строк далее разбить подобные строки на множество строк, каждая из которых будет
#содержать данные фильма и режиссера
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')
#отбираем с положительным значением жанра Action
data_Action = data[data.genres == 'Action']
#считаем значение по режиссерам, сортируем по убыванию и берем первое значение
director_Action_max = data_Action['director'].value_counts().sort_values(ascending = False).head(1)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth'
#Так как в фильме могут быть задействованы разные актеры, то необходимо значение в колонке "cast" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и актера
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
#отбираем фильмы за 2012 год
data2012 = data[data.release_year == 2012]
#суммируем кассовые сборы по актерам, сортируем по убыванию и берем первое значение
cast_revenue_max = data2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head(1)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = 'Matt Damon'
#Так как в фильме могут быть задействованы разные актеры, то необходимо значение в колонке "cast" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и актера
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
#отбираем высокобюджетные фильмы
data_budget = data[data.budget > data.budget.mean()]
#считаем значение по актерам, сортируем по убыванию и берем первое значение
cast_budget_count = data_budget['cast'].value_counts().sort_values(ascending = False).head(1)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action'
#Так как фильм может быть отнесен к разным жанрам то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data.explode('genres')
#Так как в фильме могут быть задействованы разные актеры, то необходимо значение в колонке "cast" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и актера
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
#отбираем фильмы с участием Николаса Кейджа
data_cage = data[data.cast == 'Nicolas Cage']
#считаем значение по жанрам, сортируем по убыванию и берем первое значение
cage_genres_count = data_cage['genres'].value_counts().sort_values(ascending = False).head(1)

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
#Так как фильм может быть создан разными компаниями то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
#отбираем фильмы созданные 'Paramount Pictures'
data_production_companies = data[data.production_companies == 'Paramount Pictures']
#находим фильм с минимальным значением прибыли
production_title_profit = data_production_companies[data_production_companies.profit == data_production_companies.profit.min()]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '2015'
#суммируем кассовые сборы по годам выпуска, сортируем по убыванию и берем первое значение
release_year_max = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head(1)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '2014'
#Так как фильм может быть создан разными компаниями то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
#отбираем фильмы созданные группой компаний 'Warner Bros'
data_production_companies = data[data['production_companies'].str.contains('Warner Bros')]
#суммируем прибыль по годам выпуска, сортируем по убыванию и берем первое значение
release_year_profit_max = data_production_companies.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(1)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 'сентябрь'
#Преобразуем дату выпуска на множество содержащее численные данные о месяце, дне и годе выуска
#далее добавляем колонку которая содержит порядковый номер месяца выпуска
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.explode('month')
#считаем значение по месяцам, сортируем по убыванию и берем первое значение
month_count_max = data['month'].value_counts().sort_values(ascending = False).head(1)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '450'
#Преобразуем дату выпуска на множество содержащее численные данные о месяце, дне и годе выуска
#далее добавляем колонку которая содержит порядковый номер месяца выпуска
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.explode('month')
#далее добавляем колонку которая содержит булево значение в зависимости от того, является ли месяц выпуска летним
data['month_summer'] = data['month'].isin(['6','7','8'])
#отбираем фильмы созданные летом
data_summer = data[data.month_summer == True]
#вычисляем длину списка фильмов выпущенных летом
summer_count = len(data_summer)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'
#Так как фильм может быть создан несколькими режиссерами то необходимо значение в колонке "director" преобразовать
#к множеству строк далее разбить подобные строки на множество строк, каждая из которых будет
#содержать данные фильма и режиссера
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')
#Преобразуем дату выпуска на множество содержащее численные данные о месяце, дне и годе выуска
#далее добавляем колонку которая содержит порядковый номер месяца выпуска
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.explode('month')
#далее добавляем колонку которая содержит булево значение в зависимости от того, является ли месяц выпуска зимним
data['month_winter'] = data['month'].isin(['12','1','2'])
#отбираем фильмы созданные зимой
data_winter = data[month_winter.month == True]
#считаем значение по режиссерам, сортируем по убыванию и берем первое значение
director_winter_count = data_winter['director'].value_counts().sort_values(ascending = False).head(1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions'
#Так как фильм может быть создан разными компаниями то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
#далее добавляем колонку которая содержит длину наименования фильма
data['len_title'] = data['original_title'].apply(lambda x: len(x))
#считаем среднюю длину наименований по компаниям, сортируем по убыванию и берем первое значениеи
companies_title_max = data.groupby(['production_companies'])['len_title'].mean().sort_values(ascending = False).head(1)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show'
#Так как фильм может быть создан разными компаниями то необходимо значение в колонке "genres" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и жанр
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
#далее добавляем колонку которая содержит длину описания фильма
data['count_overview'] = data['overview'].apply(lambda x: len(x.split(' ')))
#считаем среднюю длину описаний фильма по компаниям, сортируем по убыванию и берем первое значениеи
companies_overview_max = data.groupby(['production_companies'])['count_overview'].mean().sort_values(ascending = False).head(1)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
#считаем длину списка фильмов
total_list = len(data)
#вычисляем количество фильмов на один процент от общего количества
top_one_count = round(total_list/100)
#сортируем список фильмов по рейтингу по убыванию и берем первые в количестве, соответствующем одному проценту
data_top = data.sort_values('vote_average', ascending = False).head(top_one_count)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '(Daniel Radcliffe, Rupert Grint)'
#Так как в фильме могут быть задействованы разные актеры, то необходимо значение в колонке "cast" преобразовать к множеству строк
#далее разбить подобные строки на множество строк, каждая из которых будет содержать данные фильма и актера
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
#далее добавляем колонку которая возможные комбинации пар актеров
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s,2)))
data = data.explode('pairs').reset_index()
#считаем количество пар, находим наиболее часто встречающееся
from collections import Counter
Counter(data['pairs']).most_common(1)

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [ ]:
{'1': 'Pirates of the Caribbean: On Stranger Tides(tt1298650)', '2': 'Gods and Generals (tt0279111)', '3': 'Winnie the Pooh (tt1449283)', '4': '110', '5': '107', '6': 'Avatar (tt0499549)', '7': 'The Lone Ranger (tt1210819)', '8': '1478', '9': 'The Dark Knight (tt0468569)', '10': 'The Lone Ranger (tt1210819)', '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker (tt0267626)', '19': '2015', '20': '2014', '21': 'сентябрь', '22': '450', '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26': 'Inside Out, The Dark Knight, 12 Years a Slave', '27': '(Daniel Radcliffe, Rupert Grint)'}
27

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

answers = {}

data = pd.read_csv('movie_bd_v5.csv')

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides(tt1298650)'
max_budget = data[data.budget == data.budget.max()]
print(max_budget['original_title'])
print('Pirates of the Caribbean: On Stranger Tides(tt1298650)/////////////')

answers['2'] = 'Gods and Generals (tt0279111)'
max_runtime = data[data.runtime == data.runtime.max()]
print(max_runtime['original_title'])
print('Gods and Generals (tt0279111) /////////////')

answers['3'] = 'Winnie the Pooh (tt1449283)'
min_runtime = data[data.runtime == data.runtime.min()]
print(min_runtime['original_title'])
print('Winnie the Pooh (tt1449283) /////////////')

answers['4'] = '110'
mean_runtime = data.runtime.mean()
print(mean_runtime)
print('110 //////////////')

answers['5'] = '107'
median_runtime = data.runtime.median()
print(median_runtime)
print('107 //////////////')

answers['6'] = 'Avatar (tt0499549)'
data['profit'] = data['revenue']-data['budget']
max_profit = data[data.profit == data.profit.max()]
print(max_profit['original_title'])
print('Avatar (tt0499549) //////////////')

answers['7'] = 'The Lone Ranger (tt1210819)'
min_profit = data[data.profit == data.profit.min()]
print(min_profit['original_title'])
print('The Lone Ranger (tt1210819) //////////////')

answers['8'] = '1478'
low_profit = data[data.revenue > data.budget]
low_profit_count = len(low_profit)
print(low_profit_count)
print('1478 //////////////')

answers['9'] = 'The Dark Knight (tt0468569)'
profit2008 = data[data.release_year ==2008]
profit2008_max = profit2008[profit2008.profit ==profit2008.profit.max()]
print(profit2008_max['original_title'])
print('The Dark Knight (tt0468569) //////////////')

answers['10'] = 'The Lone Ranger (tt1210819)'
profit1214 = data[(data.release_year >=2012)&(data.release_year <=2014)]
profit1214_max = profit1214[profit1214.profit ==profit1214.profit.min()]
print(profit1214_max['original_title'])
print('The Lone Ranger (tt1210819) //////////////')

answers['11'] = 'Drama'
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data_genres = data.explode('genres')
data_genres_profit = data_genres[data_genres.profit>0]
genres_profit_max = data_genres_profit['genres'].value_counts().sort_values(ascending = False).head(1)
print(genres_profit_max)
print('Drama //////////////')

answers['12'] = 'Drama'
data_genres_count = data_genres['genres'].value_counts().sort_values(ascending = False).head(1)
print(data_genres_count)
print('Drama //////////////')

answers['13'] = 'Peter Jackson'
data = data.copy()
data['director'] = data['director'].apply(lambda x: x.split('|'))
data_director = data.explode('director')
data_director_profit = data_director[data_director.profit>0]
director_profit_max = data_director_profit.groupby(['director'])['profit'].sum().sort_values(ascending = False).head(1)
print(director_profit_max)
print('Peter Jackson //////////////')

answers['14'] = 'Robert Rodriguez'
data_director_Action = data_director.explode('genres')
data_Action = data_director_Action[data_director_Action.genres == 'Action']
director_Action_max = data_Action['director'].value_counts().sort_values(ascending = False).head(1)
print(director_Action_max)
print('Robert Rodriguez //////////////')

answers['15'] = 'Chris Hemsworth'
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data_cast = data.explode('cast')
data2012 = data_cast[data_cast.release_year == 2012]
cast_revenue_max = data2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head(1)
print(cast_revenue_max)
print('Chris Hemsworth //////////////')

answers['16'] = 'Matt Damon'
data_budget = data_cast[data_cast.budget > data.budget.mean()]
cast_budget_count = data_budget['cast'].value_counts().sort_values(ascending = False).head(1)
print(cast_budget_count)
print('Matt Damon //////////////')

answers['17'] = 'Action'
data_cage_genres = data_cast.explode('genres')
data_cage = data_cage_genres[data_cage_genres.cast == 'Nicolas Cage']
cage_genres_count = data_cage['genres'].value_counts().sort_values(ascending = False).head(1)
print(cage_genres_count)
print('Action //////////////')

answers['18'] = 'K-19: The Widowmaker (tt0267626)'
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data_production_companies = data[data.production_companies == 'Paramount Pictures']
production_title_profit = data_production_companies[data_production_companies.profit == data_production_companies.profit.min()]
print(production_title_profit['original_title'])
print('K-19: The Widowmaker (tt0267626) //////////////')

answers['19'] = '2015'
release_year_max = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head(1)
print(release_year_max)
print('2015 //////////////')

answers['20'] = '2014'
data_production_companies = data[data['production_companies'].str.contains('Warner Bros')]
release_year_profit_max = data_production_companies.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(1)
print(release_year_profit_max)
print('2014 //////////////')

answers['21'] = 'сентябрь'
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.explode('month')
month_count_max = data['month'].value_counts().sort_values(ascending = False).head(1)
print(month_count_max)
print('сентябрь //////////////')

answers['22'] = '450'
data['month_summer'] = data['month'].isin(['6','7','8'])
data_summer = data[data.month_summer == True]
summer_count = data_summer['imdb_id'].value_counts()
print(len(summer_count))
print('450 //////////////')

answers['23'] = 'Peter Jackson'
data2 = pd.read_csv('movie_bd_v5.csv')
data2['director'] = data2['director'].apply(lambda x: x.split('|'))
data2 = data2.explode('director')
data2['release_date'] = data2['release_date'].apply(lambda x: x.split('/'))
data2['month'] = data2['release_date'].apply(lambda x: x[0])
data2 = data2.explode('month')
data2['month_winter'] = data2['month'].isin(['12','1','2'])
data_winter = data2[data2.month_winter == True]
director_winter_count = data_winter['director'].value_counts().sort_values(ascending = False).head(1)
print(director_winter_count)
print('Peter Jackson //////////////')

answers['24'] = 'Four By Two Productions'
data['len_title'] = data['original_title'].apply(lambda x: len(x))
companies_title_max = data.groupby(['production_companies'])['len_title'].mean().sort_values(ascending = False).head(1)
print(companies_title_max)
print('Four By Two Productions //////////////')

answers['25'] = 'Midnight Picture Show'
data['count_overview'] = data['overview'].apply(lambda x: len(x.split(' ')))
companies_overview_max = data.groupby(['production_companies'])['count_overview'].mean().sort_values(ascending = False).head(1)
print(companies_overview_max)
print('Midnight Picture Show //////////////')

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data1 = pd.read_csv('movie_bd_v5.csv')
total_list = len(data1)
top_one_count = round(total_list/100)
data_top = data1.sort_values('vote_average', ascending = False).head(top_one_count)
print(data_top['original_title'])
print('Inside Out, The Dark Knight, 12 Years a Slave //////////////')

answers['27'] = '(Daniel Radcliffe, Rupert Grint)'
data3 = pd.read_csv('movie_bd_v5.csv')
data3['cast'] = data3['cast'].apply(lambda x: x.split('|'))
from itertools import combinations
data3['pairs'] = data3['cast'].apply(lambda s: list(combinations(s,2)))
data3 = data3.explode('pairs').reset_index()
from collections import Counter
print(Counter(data3['pairs']).most_common(1))
print('(Daniel Radcliffe, Rupert Grint) //////////////')
print('//////////////')
print(' ')

# в конце можно посмотреть свои ответы к каждому вопросу
print(answers)
print(len(answers))

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object
Pirates of the Caribbean: On Stranger Tides(tt1298650)/////////////
1157    Gods and Generals
Name: original_title, dtype: object
Gods and Generals (tt0279111) /////////////
768    Winnie the Pooh
Name: original_title, dtype: object
Winnie the Pooh (tt1449283) /////////////
109.6585494970884
110 //////////////
107.0
107 //////////////
239    Avatar
Name: original_title, dtype: object
Avatar (tt0499549) //////////////
1245    The Lone Ranger
Name: original_title, dtype: object
The Lone Ranger (tt1210819) //////////////
1478
1478 //////////////
599    The Dark Knight
Name: original_title, dtype: object
The Dark Knight (tt0468569) //////////////
1245    The Lone Ranger
Name: original_title, dtype: object
The Lone Ranger (tt1210819) //////////////
Drama    560
Name: genres, dtype: int64
Drama //////////////
Drama    782
Name: genres, dtype: int64
Drama //////////////
director
Peter Jackson    5202593685
Name: profit, dtype: int64
Peter Jackson //////////////
Robert Rodriguez    9
Name: director, dtype: int64
Robert Rodriguez //////////////
cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64
Chris Hemsworth //////////////
Matt Damon    18
Name: cast, dtype: int64
Matt Damon //////////////
Action    17
Name: genres, dtype: int64
Action //////////////
925    K-19: The Widowmaker
Name: original_title, dtype: object
K-19: The Widowmaker (tt0267626) //////////////
release_year
2015    89001215755
Name: revenue, dtype: int64
2015 //////////////
release_year
2014    2292949646
Name: profit, dtype: int64
2014 //////////////
9    729
Name: month, dtype: int64
сентябрь //////////////
450
450 //////////////
Peter Jackson    7
Name: director, dtype: int64
Peter Jackson //////////////
production_companies
Four By Two Productions    83.0
Name: len_title, dtype: float64
Four By Two Productions //////////////
production_companies
Midnight Picture Show    175.0
Name: count_overview, dtype: float64
Midnight Picture Show //////////////
599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object
Inside Out, The Dark Knight, 12 Years a Slave //////////////
[(('Daniel Radcliffe', 'Rupert Grint'), 8)]
(Daniel Radcliffe, Rupert Grint) //////////////
//////////////

{'1': 'Pirates of the Caribbean: On Stranger Tides(tt1298650)', '2': 'Gods and Generals (tt0279111)', '3': 'Winnie the Pooh (tt1449283)', '4': '110', '5': '107', '6': 'Avatar (tt0499549)', '7': 'The Lone Ranger (tt1210819)', '8': '1478', '9': 'The Dark Knight (tt0468569)', '10': 'The Lone Ranger (tt1210819)', '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker (tt0267626)', '19': '2015', '20': '2014', '21': 'сентябрь', '22': '450', '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26': 'Inside Out, The Dark Knight, 12 Years a Slave', '27': '(Daniel Radcliffe, Rupert Grint)'}
27